.sortable-fallback {
    opacity: 0.8;
    transform: rotate(3deg);
    pointer-events: none;
}

.tile-handle {
    cursor: grab;
}

.tile-handle:active {
    cursor: grabbing;
}

.group {
    position: relative;
}

/* Make sure the tiles have lower z-index than the action menu */
.bookmark-tile,
.folder-tile {
    pointer-events: none;
    position: relative;
    z-index: 1;
}

.action-menu {
    position: absolute;
    z-index: 9999;
    /* مقدار بالا برای قرارگیری روی سایر المان‌ها */
}